@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition-property: background, color, transform, filter, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY("40px");
  transform: translateX(10rem);
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

.PhotoView-Slider__ArrowRight {
  margin-right: 1rem !important;
}

.scroll-bar-gutter {
  scrollbar-gutter: stable both-edges;
}

.marquee {
  width: 100%;
  /* line-height: 100%; */
  background-color: inherit;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}

.scale-hover:hover {
  transition: transform 0.1s;
  scale: 1.1;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.image-container {
  width: 100%;
  height: 400px;
  /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

body.prevent-scroll {
  overflow: hidden;
  margin-right: calc(100vw - 100%);
}

.glass-dark {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(19px);
}

.carousel-container {
  width: 100%;
}

.react-multi-carousel-item {
  z-index: 1;
  /* Ajusta el valor según la necesidad */
  position: relative;
  /* Asegura que el z-index funcione */
}

.react-multi-carousel-dot-list {
  z-index: 10;
  /* Asegura que los dots estén por encima */
  position: relative;
}

.react-multi-carousel-arrow {
  z-index: 15;
  /* Flechas por encima de todo */
  position: relative;
}

.image-with-overlay {
  position: relative;
}

.image-with-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
  /* Importante: no bloquea los clics */
}

.clip-custom-1 {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 80%,
    19% 80%,
    0 88%,
    0% 80%,
    0 8%
  );
}

.text-gradient {
  @apply bg-gradient-to-r text-transparent bg-clip-text inline-block;
  display: inline-block;
  background-image: linear-gradient(to right, red, white, blue);
  /* color: var(--chakra-colors-main-500); */
}
